.wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--grey);
  border-radius: 30px;
  width: auto;
}
.form:nth-child(2) {
  align-items: center;
}

.box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 32px;
  }
  .form {
    height: 736px;
  }
}

@media only screen and (min-width: 1440px) {
  .box {
    display: block;
    width: 672px;
    height: 736px;
  }
}
