.progressBarContainer {
  position: absolute;
  left: 50%;

  width: 198px;
  height: 70px;
  margin-top: 181px;
  padding: 12px;

  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);

  transform: translateX(-50%);
}

.progressBarTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--light-black);
}

.progressBar {
  position: relative;

  width: 100%;
  height: 6px;
  margin-top: 8px;

  background-color: var(--grey);
  border-radius: 9px;
}

.progressBarFill {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 6px;

  border-radius: 9px;

  transition: ease 1s;
}

.slider {
  position: absolute;
  top: 50%;

  width: 12px;
  height: 12px;

  background-color: var(--white);
  border-radius: 100%;

  transform: translate(50%, -50%);
  transition: ease 1s;
}

.percentNumber {
  position: absolute;
  bottom: 130%;
  right: 0;

  font-weight: 400;
  font-size: 8px;
  line-height: 100%;

  transform: translate(50%, -50%);
}

.percentContainer {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 6px;
}

.percent {
  margin-top: 8px;

  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

@media screen and (min-width: 768px) {
  .progressBarContainer {
    width: 295px;
    height: 106px;
    margin-top: 266px;
    padding: 20px;
  }

  .progressBar {
    height: 8px;
    margin-top: 6px;
  }

  .percentContainer {
    width: 260px;
  }

  .percent {
    margin-top: 6px;

    font-size: 12px;
    line-height: 187%;
  }

  .progressBarFill {
    height: 8px;
  }

  .percentNumber {
    bottom: 20%;

    font-size: 9px;
    line-height: 180%;
  }
}

@media screen and (min-width: 1440px) {
  .progressBarContainer {
    margin-top: 394px;
  }

  .progressBarTitle {
    font-size: 15px;
    line-height: 149%;
  }
}
