.userPanel {
  display: flex;
  flex-direction: column;
 justify-content: space-between;
  gap: 25px;
  padding: 0 0 40px 0;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
}

.userPanel h2 {
  display: flex;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #333;
}
.userPanel h2 strong {
 
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 

}
@media screen and (min-width: 768px) {
  .userPanel {
    
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .userPanel h2 {
 
    font-size: 36px;
    line-height: 106%;
  }
  .userPanel h2 strong {
    overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  }
}