.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dailyInfo {
  height: 153px;
}

.loader {
  width: 32px;
  height: 72px;
  display: inline-block;
  left: 5px;
  position: relative;
  border: 2px solid black;
  box-sizing: border-box;
  animation: animloader 2s linear infinite alternate;
  color: #9be1a0;
  border-radius: 0 0 4px 4px;
  transform: perspective(140px) rotateX(-45deg);
}

@keyframes animloader {
  0% {
    box-shadow: 0 0 inset;
  }
  100% {
    box-shadow: 0 -70px inset;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .loader {
    height: 54px;
    width: 24px;
  }
}
