.btnAdd {
  position: absolute;
  bottom: 32px;
  right: 16px;

  display: flex;
  height: 46px;
  min-width: 140px;
  padding: 14px 20px;

  background-color: var(--light-black);
  border: none;
  border-radius: 30px;
}

.btnAdd:hover .btnText,
.btnAdd:hover .plus {
  color: var(--lime);
  stroke: var(--lime);
}

.btnText {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;

  color: var(--white);

  transition: color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .btnAdd {
    bottom: 64px;
    right: 32px;

    min-width: 178px;
    height: 60px;
    padding: 18px 30px;
  }

  .btnAdd:hover .btnText,
  .btnAdd:hover .plus {
    color: var(--lime);
    stroke: var(--lime);
  }

  .btnText {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--white);

    transition: color 0.3s ease;
  }
}

.detailsBtnAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.detailsAddContainer {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 30px;
  height: 30px;

  background-color: var(--lime);
  border-radius: 30px;

  transition: background-color 0.3s ease;
}

.detailsAddSign {
  width: 10.71px;
  height: 10.71px;

  stroke: var(--light-black);

  transition: stroke 0.3s ease;
}

.detailsBtnAdd:hover .detailsAddSign {
  stroke: var(--white);
}

.detailsBtnAdd:hover .detailsAddContainer {
  background-color: var(--light-black);
}

.detailsBtnText {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;

  color: var(--light-black);
}

.plus {
  width: 13px;
  height: 13px;
  margin-right: 10px;
  margin-top: 2px;

  stroke: var(--white);

  transition: stroke 0.3s ease;
}

@media screen and (min-width: 768px) {
  .btnAdd {
    bottom: 64px;
    right: 32px;

    min-width: 178px;
    height: 60px;
    padding: 18px 30px;
  }

  .btnText {
    font-size: 16px;
    line-height: 150%;
  }

  .plus {
    width: 15px;
    height: 15px;
    margin-top: 4px;
  }
}
