.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputLabel {
  display: flex;
  align-items: center;
}

.uploadPhotoIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px; /* Отступ между иконкой и текстом */
}

.hiddenInput {
  position: absolute;
  opacity: 0; /* Скрыть input */
  width: 100%; /* Занять всю ширину */
  height: 100%; /* Занять всю высоту */
}

/* .errors {
    color: red ?
} */

/* .avatar {
    width: 100px;
    height: 100px;
} from 768px */
