.scrollableContent {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

.scrollableContent::-webkit-scrollbar {
  width: 6px;
}

.uploadWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.inputWrapper {
  display: flex;
}

.inputLabel {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.uploadPhotoIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  fill: transparent;
  stroke: currentColor;
}

.uploadLabel {
  display: flex;
  align-items: center;
}

.hiddenInput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.avatar {
  height: 75px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.iconExclamationMark {
  width: 18px;
  height: 18px;
  fill: #9be1a0;
}

.radioContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type='radio']:checked {
  box-shadow: inset 0 0 0 4px white;
  background-color: #9be1a0;
}

.genderLabel {
  margin-left: 10px;
  margin-right: 20px;
}

.userDataWrapper {
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  padding: 14px 16px;
  gap: 10px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  font-size: 14px;
  border-radius: 15px;
}

.inputs:hover,
.inputs:focus,
.inputs:active {
  border: 1px solid #323f47;
  outline: none;
}

.smallGap {
  margin-bottom: 14px;
}

.bigGap {
  margin-bottom: 24px;
}

.miniGap {
  margin-bottom: 4px;
}

.formula {
  font-weight: 700;
  color: #9be1a0;
}

.formulaBlock {
  margin-bottom: 12px;
}

.text {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.boldText {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
}

.spanText {
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  color: rgba(47, 47, 47, 0.6);
}

.activeTimeWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.specialSign {
  color: #9be1a0;
}

.waterWrapper {
  display: flex;
  flex-direction: column;
}

.spanWaterAmount {
  margin-top: 5px;
  font-weight: 700;
  color: #9be1a0;
}

.errorMessage {
  margin: 7px;
  color: red;
}

.button {
  display: flex;
  padding: 14px 40px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.01em;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);
  color: #323f47;
}

.button:hover {
  background: #87d28d;
}

.button:disabled {
  background-color: #e6e6e6;

  opacity: 0.6;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .scrollableContent {
    padding-right: 20px;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .uploadPhotoIcon {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .boldText {
    font-size: 18px;
    line-height: 1.3;
  }

  .inputs {
    font-size: 16px;
    padding: 16px;
  }

  .formulaBlock {
    margin-bottom: 0;
  }

  .formulaWrapper {
    display: flex;
    gap: 28px;
  }

  .litersWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .button {
    padding: 16px 50px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  }

  .rightSide {
    padding-top: 86px;
  }

  .inputs {
    width: 400px;
  }

  .spanText {
    width: 400px;
  }

  .spanWaterAmount {
    max-width: 30px;
    min-height: 20px;
    margin-top: 0;
  }

  .activeTimeWrapper {
    margin-bottom: 0;
  }
}
