.wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  gap: 32px;
}

.form {
  width: 672px;
  height: 736px;

  background-color: var(--grey);
  border-radius: 30px;
}

.logoWrapper {
  position: absolute;
  left: 16px;
  top: 24px;
}
.box {
  display: none;
}
@media only screen and (min-width: 768px) {
  .logoWrapper {
    left: 32px;
    top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .box {
    display: block;
    width: 672px;
    height: 736px;
  }
}
