.logo_block {
    display: flex;
    align-items: center;
}

.logo {
    color: #323F47;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    margin: 0;
}


.languageSwitcher {
  cursor: pointer;
  background-color: #9be1a0 ;/* Цвет фона */
  border: none; /* Без границы */
  border-radius: 20px; /* Полукруглая форма */
  padding: 5px 10px; /* Отступы */
  display: flex; /* Используем flex для горизонтального расположения текста и стрелочки */
  align-items: center; /* Центрируем по вертикали */
  position: absolute; /* Абсолютное позиционирование */
  right: 10px; /* Отступ от правого края */
  top: 36px; /* Отступ от верхнего края */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.languageSwitcher:hover {
  background-color: #f0eff4; /* Цвет фона при наведении */
}

.text {
  font-size: 16px; /* Размер текста */
  margin-right: 5px; /* Отступ от текста к стрелочке */
}

.arrow {
  font-size: 16px; /* Размер стрелочки */
}


@media screen and (min-width: 768px) {
    .logo {
        font-size: 24px;
        line-height: 1;
        letter-spacing: -0.24px;
    }
}