.logo_block {
    display: flex;
    align-items: center;
}

.logo {
    color: #323F47;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    margin: 0;
}