.waterModal {
    margin: 0 auto;
    width: 343px;
    height: auto;
    padding: 40px 20px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .waterModal h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: var(--light-black);
    margin: 0 0 24px 0;
  }

  @media screen and (min-width: 768px) {
    .waterModal {
     padding: 40px;
     width: 518px;
    }
   
    .waterModal h1 {
     font-size: 28px;
     line-height: 1.14;
    }   
 }