.welcome_section__wrap {
    display: flex;
    flex-direction: column;
    max-width: 343px;
    width: 100%;
    height: 411px;
    flex-shrink: 0;
    padding: 24px 16px;

    border-radius: 30px;
    background: #F0EFF4;
    box-sizing: border-box;
}

.welcome_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
}

.hero_section {
    display: flex;
    flex-direction: column;
    padding-top: 74px;
    row-gap: 16px;
}

.sub_head {
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: 0.84px;
    margin: 0;
}

.main_head {
    align-self: stretch;
    color: #323F47;

    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.38px;
    margin: 0;
}

.buttons_block {
    display: flex;

    justify-content: start;
    column-gap: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

    color: #323F47;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.14px;
}

.button_to_signup {
    padding: 14px 19px;
    background-color: #9BE1A0;
}

.button_to_signin {
    padding: 14px 28px;
    border: 1px solid #323F47;
}


@media screen and (min-width: 768px) {
    .welcome_section__wrap {
        max-width: 704px;
        height: auto;
        padding: 32px;
    }

    .welcome_section {
        padding-left: 32px;
        padding-right: 60px;
    }

    .hero_section {
        padding-top: 50px;
    }

    .sub_head {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.96px;
    }

    .main_head {
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.64px;
    }

    .buttons_block {
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .welcome_section__wrap {
        max-width: 672px;
        height: 736px;
    }

    .hero_section {
        padding-top: 132px;
    }

    .main_head {
        font-size: 80px;
        line-height: 0.95;
        letter-spacing: -0.8px;
    }


    .button {
        padding: 18px 40px;
        gap: 10px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.16px;
    }
}