/* Container */
/* Mobile */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  max-width: 375px;
  max-height: 740px;
  padding: 40px 10px 40px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
} /*? padding-right 10px, not 20px, because I split this 20px between container and scroll */

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    max-height: 690px;
    padding: 40px 20px 40px 40px;
  }

  .title {
    font-size: 28px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 920px;
  }
}
