.userBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 30px;
}

.userBarButton {
  display: flex;
  align-items: center;
  width: 140px;
  height: 49px;
  padding: 6px 12px;
  background-color: #2f3a44;
  color: white;
  border: none;
  border-radius: 30px;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.userAvatar {
  width: 38px;
  height: 39px;
  border-radius: 100%;
  object-fit: cover;
}

.userBar span {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;
}

.arrowBar {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .userBar {
    flex-direction: row-reverse;
  }

  .userBarButton {
    width: 157px;
    height: 56px;
  }

  .userAvatar {
    width: 44px;
    height: 44px;
  }

  .userBar span {
    font-size: 16px;
    line-height: 150%;
  }

  .arrowBar {
    width: 20px;
    height: 20px;
  }
}