@import "../Calendar/variables.css";
.calendar_title {
  display: flex;
  align-items: center;
  width: 608px;
  height: 32px;
  margin-bottom: 24px;
  padding-right: 0;
}

.month {
  font-size: 28px;
  font-weight: bold;
}

.btn {
  padding: 0;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eff4;

  border: none;
  cursor: pointer;
}

.month_ind {
  display: flex;
  align-items: center;
  background-color: #f0eff4;
  width: 224px;
  height: 24px;
  padding: 3px 0 3px 0;

  font-size: 14px;
  margin-left: auto;
}

.month_year {
  width: 161px;

  
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.statistic_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  cursor: pointer;
}



.svg_chart {
    width: 24px;
		height: 24px;
		opacity: 0.4;
}
.svg_arrow_left{
    width: 18px;
    height: 18px;

}
.svg_arrow_right{
  
    width: 18px;
		height: 18px;
}


.btn {
	transition: transform 0.2s ease;
}

.btn:hover {
	transform: scale(1.4);
}

.btn:disabled {
	cursor: default;
}

.btn_disabled {
	opacity: 0.5;
}

.btn_disabled:hover {
	transform: scale(1);
}

.svg_schedule {

  width: 24px;
  height: 24px;

}

.isHidden {
	display: none;
}


