@import "../Calendar/variables.css";
.calendar_title {
  display: flex;
  align-items: center;
  width: 608px;
  height: 32px;
  margin-bottom: 24px;
  padding-right: 0;
}

.month {
  font-size: 28px;
  font-weight: bold;
}

.btn {
  padding: 0;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0eff4;

  border: none;
  cursor: pointer;
}

.month_ind {
  display: flex;
  align-items: center;
  background-color: #f0eff4;
  width: 224px;
  height: 24px;
  padding: 3px 0 3px 0;

  font-size: 14px;
  margin-left: auto;
}

.month_year {
  width: 140px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.statistic_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 24px;
  cursor: pointer;
}



.svg_chart {
    width: 20px;
		height: 20px;
		opacity: 0.4;
}
.svg_arrow_left{
    width: 7px;
    height: 14px;

}
.svg_arrow_right{
  
    width: 7px;
		height: 14px;
}


