.wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 32px;
}

.form {
  background-color: var(--grey);
  border-radius: 30px;
}

.box {
  display: none;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .box {
    display: block;
    background-color: aquamarine;
    width: 672px;
    height: 736px;
    flex-shrink: 0;
  }
}
